body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Login */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  align-items: center;
  /* background-color: #09338da8; */
}

.tituloLogin{
  font-size: 4em;
  font-family: 'Fredoka One', cursive;
  color: white;
  text-shadow: 3px 3px 5px black;
  margin-top: 100px;
}



.content{
  background-color: rgba(255, 255, 255, 0.781);
  padding: 20px;
  width: 500px;
  /* min-width: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 20px black;

}

.content input{
  width: 20em;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  box-shadow: 0px 2px 10px rgb(122, 122, 122);
}

.spanAlertaEmail{
  color: rgb(190, 0, 0);
  font-size: 11px;
  display: flex;
  /* justify-content: flex-start; */
  width: 25em;
  /* text-align: initial; */
  /* display: block; */
  
  margin-top: 5px;
}
.spanAlertaSenha{
  color: rgb(190, 0, 0);
  font-size: 11px;
  display: flex;
  /* justify-content: flex-start; */
  width: 25em;
  /* text-align: initial; */
  /* display: inline-block; */
  margin-top: 5px;
}

.content .cadastro{
  width: 50%;
  padding: 10px 0px;
  /* margin: 20px; */
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #54a33c;
  margin-bottom: 20px;
  /* color: white; */
  /* background-color: #1d243346;; */
}

.content input:focus{
  /* box-shadow: 0 0 0 0; */
    border: 0 none;
    outline: 0;
}

.backGroundTrue{
  /* padding: 10px 80px; */
  width: 50%;
  padding: 10px 0px;
  margin: 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #5689f8;
}

.backGroundFalse{
  /* padding: 10px 80px; */
  width: 50%;
  margin: 20px;
  padding: 10px 0px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3a558f79;
}

.imgLogin{
  width: 150px;
  height: 150px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.imgLogin img{
  width: 100%;
}

/* header */

.containerHeader{
  width: 100%;
  height: 80px;
  background-color: rgb(97, 97, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.containerHeader a{
text-decoration: none;
}

.contentHeader{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.contentLogo{
 display: flex;
 align-items: center;
}


.imgHeader{
  width: 60px;
  height: 60px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgHeader img{
  width: 100%;
}

.nomeHeader{
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.contentEmail{
  display: flex;
  /* color: white; */
}

.valorHeader{
  margin-left: 5px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px black;
}
.rs{
  margin-left: 5px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px black;
}
.brl{
  font-weight: bold;
  margin-left: 2px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.email{
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px 5px black;
  
}

.user{
  background-color: white;
  border-radius: 50%;
}
.coin{
  color: white;
}

/* FORM */

.containerForm{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
}

.form{
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(64, 64, 109);
  height: 60px;
  align-items: center;
  color: rgb(99, 179, 53);
  font-weight: bold;
  font-size: 18px;
  /* box-shadow: 0px 1px 10px black; */
}

.form input{
  border-radius: 5px;
  padding: 3px;
  margin-left: 5px;
}

.form input:focus{
  border: 0 none;
  outline: 0;
}

/* .form label{
  color: white;
  margin-right: 5px;
} */

.form select{
  margin-left: 5px;
  padding: 2px;
}



.btnAdd{
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #5689f8;
  color: white;
  font-weight: bold;
  border: none;
}

.btnEditar{
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #2f8642;
  color: white;
  font-weight: bold;
  border: none;
}

/* TABELA */

table{
  width: 100%;
  color: white;
}

table th{
  background-color:  rgb(33, 33, 56);
  height: 30px;
  border: 2px solid rgb(33, 33, 56)
}

table tbody td{
  height: 25px;
  border: 2px solid #40406D;
}
table tbody {
  margin: 10px;
}

table tbody tr:nth-child(even) {
  background: rgb(214, 214, 252);
  color: black;
  text-align: center;
  height: 20px;
  font-weight: 500;
}
table tbody tr:nth-child(odd) {
  background: rgb(68, 68, 153);
  color: rgb(255, 255, 255);
  text-align: center;
  height: 20px;
  font-weight: 500;
}

body{
  background-color:rgb(76, 76, 129);
}

.botaoDelete{
  background-color: rgba(255, 255, 255, 0.658);
  font-size: 1px;
  /* border: 2px solid black; */
  margin-left: 5px;
  color: rgb(224, 0, 0);
  /* width: 30px;
  height: 30px; */
  border-radius: 10px;
 
}

.botaoEditar{
  background-color: rgba(255, 255, 255, 0.658);
  /* border: 2px solid black; */
  font-size: 5px;
  /* border: none; */
  border-radius: 10px;
  /* color: white; */
}

/* Cadastro */

.containerCadastro{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(76, 76, 129);
}

.formCadastro{
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.781);
  border-radius: 10px;
  /* height: 50%; */
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.548);
  padding: 30px;
}

.cadastrar{
  display: flex;
  flex-direction: column;
  /* background-color: black; */
  align-items: center;
  width: 100%;
}
.cadastrar input{
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.divinputEmail, .inputSenhaEConfirma{
  display: flex;
  justify-content: center;
  width: 100%;
}



.cadastrar input:focus{
  border: 0 none;
  outline: 0;
}


.tituloCadastro{
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 5px black;
}

.labelEmailCadastro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 94%;
  align-items: center;

}

.emailCadastro{
  width: 100% ;
  /* background-color: black; */
}

.spanEmailExistente{
  font-size: 12px;
  align-self: flex-start;
  /* margin-left: 45px; */
  margin-top: 4px;
  color: rgb(146, 2, 2);
}

.buttonLink{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 50px 30px 0px 30px;
  align-items: center;
}

.buttonLink button{
 width: 40%;
 padding: 12px 0px;
 border-radius: 5px;
 border: none;
 background-color: rgb(72, 112, 221);
 color: white;
 font-weight: bold;
}
.buttonLink button:hover{

 background-color: rgb(50, 92, 206);

}

.buttonLink a{
  text-align: center;
  width: 40%;
}
